/*-------------------------------------------------------------------
*** CSS Variants ***
-------------------------------------------------------------------*/

:root {
  --main-orage: rgb(226, 113, 0);
}

/*-------------------------------------------------------------------
*** CSS RESET ***
-------------------------------------------------------------------*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: inherit;
  font-family: "Playpen Sans", cursive;
}